.filter-panel {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: flex-start;
}

.filter-panel__text {
    padding: 0 10px;
    line-height: 38px;
    font-size: 14px;
    cursor: pointer;
}
